torch#==1.4.0
torchvision#==0.5.0
pytorch-lightning#==0.7.5
test-tube
kornia#==0.2.0
opencv-python#==4.2.0.34
matplotlib
jupyter

# for mesh
# PyMCubes
pycollada
trimesh
pyglet

# for point cloud
plyfile
open3d


# CUDA_VISIBLE_DEVICES="6" python train.py --dataset_name llff --root_dir "../new_pigs/" --N_importance 64 --img_wh 320 320 --num_epochs 10 --batch_size 3072 --optimizer adam --lr 5e-4 --lr_scheduler steplr --decay_step 10 20 --decay_gamma 0.5 --exp_name new_epoch10 --spheric
# CUDA_VISIBLE_DEVICES="6" python eval.py --root_dir "../new_pigs/" --dataset_name llff --scene_name new_pig_15 --img_wh 320 320 --N_importance 64 --ckpt_path ../new_epoch15.ckpt --spheric_poses


CUDA_VISIBLE_DEVICES="9" python train.py --dataset_name llff --root_dir "../pigs/" --N_importance 64 --img_wh 320 320 --optimizer adam --lr 5e-4 --lr_scheduler steplr --decay_step 10 20 --decay_gamma 0.5 --spheric --batch_size 2048 --num_epochs 1 --exp_name siren_try_epoch1
CUDA_VISIBLE_DEVICES="9" python eval.py --root_dir "../pigs/" --dataset_name llff --img_wh 320 320 --N_importance 64 --spheric_poses --ckpt_path ../new_ckpts/siren_try_epoch1/epoch=0.ckpt --scene_name siren_try_pig_1